.gradient-left {
	position: absolute;
	width: 982px;
	height: 577px;
	top: 2812px;
	left: calc(100% / 2 - 1349px);
	background-image: radial-gradient(40.55% 376.16% at 52.56% 36.77%, #08E2AE 0%, var(--primary-hover) 100%);
	opacity: 0.32;
	filter: blur(400px);
	transform: rotate(56.96deg);
	z-index: 1;
	pointer-events: none;
}

.gradient-right {
	position: absolute;
	width: 879px;
	height: 1282px;
	top: 660px;
	left: calc(100% / 2 + 578px);
	background-image: radial-gradient(40.55% 376.16% at 52.56% 36.77%, #08E2AE 0%, var(--primary-hover) 100%);
	opacity: 0.32;
	filter: blur(400px);
	transform: rotate(-129.17deg);
	z-index: 1;
	pointer-events: none;
}

.button-theme {
	border-radius: 50px;
	border: 0;
	outline: none;
	box-shadow: none;
	font-size: 1.15em;
	white-space: nowrap;
	padding: 10px 24px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 5px;
}

.button-theme.button-theme_primary {
	background: var(--primary-color);
	color: var(--bs-white);
}

.button-theme.button-theme_primary:hover {
	background: var(--primary-hover);
	color: var(--bs-white);
}

.button-theme.button-theme_secondary {
	background: rgba(var(--bs-white-rgb), 0.08);
	color: var(--bs-white);
}

.button-theme.button-theme_secondary:hover {
	background: rgba(var(--bs-white-rgb), 0.12);
	color: var(--bs-white);
}

.button-theme img {
	width: 16px;
	height: 16px;
}

.header {
	padding: 15px 0;
	height: 82px;
}

.header:after {
	top: 0;
	left: 0;
	min-width: 100%;
	backdrop-filter: blur(100px);
	-webkit-backdrop-filter: blur(100px);
	height: 100%;
	z-index: -1;
}

.header .header-navigation ul {
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}

.header .header-navigation > ul {
	display: flex;
	align-items: center;
}

.header .header-navigation > ul > li {
	position: relative;
}

.header .header-navigation > ul > li > a,
.header .header-navigation > ul > li > button {
	border-radius: 50px;
	color: var(--color-text);
	font-size: 1.15em;
	border: 0;
	outline: none;
	box-shadow: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	transition: var(--transition-default);
	font-weight: 400;
	padding: 10px 22px;
	white-space: nowrap;
	background: transparent;
}

.header .header-navigation > ul > li > a > span,
.header .header-navigation > ul > li > button > span {
	display: none;
}

.header .header-navigation > ul > li > a > img,
.header .header-navigation > ul > li > button > img {
	height: 15px;
	width: auto;
}

.header .header-navigation > ul > li:hover > a,
.header .header-navigation > ul > li:hover > button {
	background: var(--color-hover);
	color: var(--bs-white);
}

.header.is-scroll .header-navigation > ul > li:hover > a,
.header.is-scroll .header-navigation > ul > li:hover > button {
	background: #262626;
}

.header .header-navigation > ul > li > ul {
	background: #1B1B1E;
	border-radius: 20px;
	padding: 10px;
	left: 50%;
	transform: translateX(-50%);
	min-width: 220px;
	top: calc(100% + 18px);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	position: absolute;
	transition: var(--transition-default);
}

.header .header-navigation > ul > li > ul:before {
	height: 18px;
	width: 100%;
	background: transparent;
	content: "";
	position: absolute;
	top: -18px;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	z-index: 2;
}

.header .header-navigation > ul > li:hover > ul,
.header .header-navigation > ul > li:hover > ul:before {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.header .header-navigation > ul > li > ul > li > a {
	border-radius: 12px;
	color: var(--color-text);
	font-size: 1.15em;
	border: 0;
	outline: none;
	box-shadow: none;
	display: flex;
	gap: 5px;
	transition: var(--transition-default);
	font-weight: 400;
	padding: 10px 16px;
	white-space: nowrap;
}

.header .header-navigation > ul > li > ul > li:hover > a {
	background: rgba(var(--bs-white-rgb), 0.06);
	color: var(--bs-white);
}

.header .header-language .header-language_button {
	border-radius: 50px;
	color: var(--color-text);
	font-size: 1.15em;
	gap: 5px;
	padding: 10px 22px;
	transition: var(--transition-default);
	font-weight: 400;
}

.header .header-language .header-language_button > img {
	height: 12px;
	width: 12px;
}

.header .header-language:hover .header-language_button {
	background: var(--color-hover);
	color: var(--bs-white);
}

.header.is-scroll .header-language:hover .header-language_button {
	background: #262626;
}

.header .header-language .header-language_list {
	background: #1B1B1E;
	border-radius: 20px;
	padding: 10px;
	left: 50%;
	transform: translateX(-50%);
	list-style: none;
	margin-bottom: 0;
	min-width: 220px;
	top: calc(100% + 18px);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.header .header-language .header-language_list:before {
	height: 18px;
	width: 100%;
	background: transparent;
	content: "";
	position: absolute;
	top: -18px;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	z-index: 2;
}

.header .header-language:hover .header-language_list,
.header .header-language:hover .header-language_list:before {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.header .header-language .header-language_list > li > a {
	border-radius: 12px;
	color: var(--color-text);
	font-size: 1.15em;
	border: 0;
	outline: none;
	box-shadow: none;
	display: flex;
	gap: 5px;
	transition: var(--transition-default);
	font-weight: 400;
	padding: 10px 16px;
	white-space: nowrap;
}

.header .header-language .header-language_list > li > a > span {
	display: flex;
	align-items: center;
}

.header .header-language .header-language_list > li > a.active > span:after {
	display: block;
	content: "";
	background: url('../images/icons/check.svg') center center/contain no-repeat;
	height: 14px;
	width: 14px;
	margin-left: 12px;
}

.header .header-language .header-language_list > li:hover > a {
	background: rgba(var(--bs-white-rgb), 0.06);
	color: var(--bs-white);
}

.header .header-app {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.header.is-scroll .header-app {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.section-hero .hero-video {
	height: 620px;
}

.section-hero .hero-video video {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
	pointer-events: none;
}

.section-hero .hero-video .hero-video_overlay {
	position: absolute;
	pointer-events: none;
	inset: 0;
	z-index: 2;
	height: 100%;
	width: 100%;
}

.section-hero .hero-video .hero-video_overlay.hero-video_overlay__bottom {
	background: linear-gradient(rgba(7, 7, 7, 0) 80%, rgba(7, 7, 7, 1));
}

.section-hero .hero-video .hero-video_overlay.hero-video_overlay__right {
	background: linear-gradient(90deg, rgba(7, 7, 7, 0) 80%, rgba(7, 7, 7, 1));
}

.section-hero .hero-video .hero-video_overlay.hero-video_overlay__left {
	background: linear-gradient(90deg, rgba(7, 7, 7, 1), rgba(7, 7, 7, 0) 80%);
}

.section-hero .hero-video .hero-video_content {
	position: absolute;
	inset: 0;
	z-index: 3;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	max-width: 750px;
	margin: 0 auto;
	padding-top: 200px;
}

.section-hero .hero-video .hero-video_content .hero-video_title {
	font-size: 5em;
	font-weight: 700;
	color: var(--bs-white);
	line-height: 1.2;
}

.section-hero .hero-video .hero-video_content .hero-video_title span {
	display: block;
	background: linear-gradient(0.125turn, var(--primary-color) 0%, var(--primary-light) 96%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.section-hero .hero-video .hero-video_content .hero-video_buttons {
	margin-top: 30px;
}

.section-hero .hero-video .hero-video_content .hero-video_buttons .button-theme {
	padding: 14px 32px;
}

.section-gap {
	padding: 150px 0 0;
}

.section-heading {
	text-align: center;
}

.section-heading .heading-sub {
	max-width: 950px;
	margin: 0 auto 10px;
	background: linear-gradient(45deg, var(--primary-color) 0%, var(--primary-light) 80%);
	font-weight: 600;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
	font-size: 1.15em;
}

.section-heading .heading-title {
	max-width: 950px;
	margin: 0 auto;
	font-size: 2.85em;
	font-weight: 700;
	color: var(--bs-white);
}

.section-heading .heading-title > span {
	background: linear-gradient(0.125turn, var(--primary-color) 0%, var(--primary-light) 96%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.section-heading .heading-desc {
	font-size: 1.45em;
	max-width: 800px;
	margin: 15px auto 0;
	line-height: 1.7;
}

.section-heading .heading-desc p:last-child {
	margin-bottom: 0;
}

.section-heading .heading-link {
	color: var(--primary-color);
	font-size: 1.15em;
	font-weight: 600;
	margin-top: 20px;
}

.section-heading .heading-link img {
	margin-left: 10px;
	width: 20px;
}

.wallet-list .wallet-item {
	padding: 20px;
	width: calc(100% / 6);
	display: flex;
	align-items: center;
	justify-content: center;
}

.wallet-list .wallet-item img {
	opacity: .5;
	transition: var(--transition-default);
}

.wallet-list .wallet-item:hover img {
	opacity: 1;
}

.slider-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--transition-default);
}

.slider-button.sliderPrev {
	left: 0;
}

.slider-button.sliderPrev svg {
	transform: rotate(180deg);
}

.slider-button.sliderNext {
	right: 0;
}

.slider-button svg {
	width: 21px;
	transition: var(--transition-default);
	stroke: #70777b;
}

.slider-button:hover svg {
	stroke: var(--bs-white);
}

.section-box .box-inner {
	padding: 30px;
	border-radius: 16px;
	border: 1px solid rgba(var(--bs-white-rgb), 0.15);
	transition: var(--transition-default);
}

.section-box .box-inner:hover {
	border: 1px solid rgba(var(--bs-white-rgb), 0.6);
}

.section-box .box-inner .section-heading .heading-title {
	max-width: 100%;
}

.dev-item {
	padding: 20px;
	border-radius: 16px;
	border: 1px solid rgba(var(--bs-white-rgb), 0.15);
	transition: var(--transition-default);
}

.dev-item .dev-item_title {
	font-size: 1.45em;
	color: var(--bs-white);
}

.dev-item .dev-item_icon {
	width: 20px;
	height: 20px;
	opacity: .66;
	transition: var(--transition-default);
}

.dev-item:hover {
	border: 1px solid rgba(var(--bs-white-rgb), 0.6);
}

.dev-item:hover .dev-item_icon {
	opacity: 1;
}

.subscribe-form .form-floating .form-control {
	border: 1px solid rgb(45, 45, 48);
	background-color: rgb(45, 45, 48);
	color: var(--bs-white);
	font-size: 1.15em;
	border-radius: 12px;
	font-weight: 400;
}

.subscribe-form .form-floating label {
	color: var(--color-text);
	font-size: 1.15em;
}

.subscribe-form .button-theme {
	height: 58px;
	padding-left: 30px;
	padding-right: 30px;
}

.subscribe-form .form-floating > .form-control:focus ~ label,
.subscribe-form .form-floating > .form-control:not(:placeholder-shown) ~ label,
.subscribe-form .form-floating > .form-select ~ label {
	font-size: 1.075em;
}

.subscribe-social .social-list .social-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: var(--color-text);
	transition: var(--transition-default);
	position: relative;
	overflow: hidden;
}

.subscribe-social .social-list .social-item .social-item_image {
	width: 48px;
	height: 48px;
	transition: var(--transition-default);
	position: relative;
	border-radius: 50%;
	overflow: hidden;
}

.subscribe-social .social-list .social-item .social-item_image:before {
	position: absolute;
	inset: 0;
	border-radius: 50%;
	content: "";
	display: block;
	background: #343434;
	opacity: 0.1;
}

.subscribe-social .social-list .social-item .social-item_text {
	margin-top: 5px;
}

.subscribe-social .social-list .social-item .social-item_image img {
	width: 100%;
}

.subscribe-social .social-list .social-item:hover {
	color: var(--bs-white);
}

.subscribe-social .social-list .social-item:hover .social-item_image {
	filter: brightness(200%);
}

.futures-card {
	background: url('../images/bg-card.svg') center center/cover no-repeat;
	height: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 12px;
	overflow: hidden;
	padding: 79px 45px;
}

.futures-card .futures-card_number {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--bs-white);
	font-size: 1.45em;
	font-weight: 700;
}

.futures-card .futures-card_title {
	font-size: 2.25em;
	font-weight: 700;
	color: var(--bs-white);
	margin-top: 30px;
}

.futures-card .futures-card_list {
	margin-top: 10px;
	font-size: 1.15em;
	color: var(--primary-color);
	line-height: 1.7;
	padding-left: 16px;
	margin-bottom: 0;
}


.benefits-card {
	position: relative;
	overflow: hidden;
	height: 100%;
}

.benefits-card .benefits-card_image {
	width: 100%;
}

.benefits-card .benefits-card_content {
	position: absolute;
	text-align: center;
	padding: 30px;
	z-index: 2;
}

.benefits-card .benefits-card_content .benefits-card_title {
	font-size: 1.75em;
	font-weight: 700;
	color: var(--bs-white);
}

.benefits-card .benefits-card_content .benefits-card_desc {
	margin-top: 10px;
	font-size: 1.15em;
	color: var(--color-text);
	line-height: 1.7;
}

.explore-card {
	background: url('../images/bg-card.svg') center center/cover no-repeat;
	height: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 12px;
	overflow: hidden;
	padding: 35px 45px;
}

.explore-card .explore-card_image {
	width: 80px;
	height: 80px;
}

.explore-card .explore-card_title {
	font-size: 2.25em;
	font-weight: 700;
	color: var(--bs-white);
	margin-top: 30px;
}

.explore-card .explore-card_desc {
	margin-top: 15px;
	font-size: 1.15em;
	color: var(--color-text);
	line-height: 1.7;
}

.explore-card .explore-card_link {
	font-size: 1.15em;
	margin-top: 30px;
	color: var(--primary-color);
	font-weight: 600;
	transition: var(--transition-default);
}

.explore-card .explore-card_link img {
	margin-left: 10px;
	width: 20px;
	transition: var(--transition-default);
}

.explore-card .explore-card_link:hover {
	color: var(--primary-color);
}

.explore-card .explore-card_link:hover img {
	margin-left: 7px;
}

.popover {
	background: #262626;
}

.popover.bs-popover-auto[data-popper-placement^=right] > .popover-arrow::after,
.popover.bs-popover-end > .popover-arrow::after {
	border-right-color: #262626;
}

.popover.bs-popover-auto[data-popper-placement^=top] > .popover-arrow::after,
.popover.bs-popover-top > .popover-arrow::after {
	border-top-color: #262626;
}

.popover.bs-popover-auto[data-popper-placement^=bottom] > .popover-arrow::after,
.popover.bs-popover-bottom > .popover-arrow::after {
	border-bottom-color: #262626;
}

.popover.bs-popover-auto[data-popper-placement^=left] > .popover-arrow::after,
.popover.bs-popover-start > .popover-arrow::after {
	border-left-color: #262626;
}


.popover .popover-body {
	color: var(--color-text);
	line-height: 1.7;
}

.popover .popover-body h1,
.popover .popover-body h2,
.popover .popover-body h3,
.popover .popover-body h4,
.popover .popover-body h5,
.popover .popover-body h6 {
	margin-bottom: 10px;
	font-weight: 700;
	color: var(--bs-white);
	font-size: 1.3em;
}

.popover .popover-body p,
.popover .popover-body ul {
	font-size: 1.15em;
}

.popover .popover-body p:last-child,
.popover .popover-body ul:last-child {
	margin-bottom: 0;
}

.footer {
	padding: 150px 0 30px 0;
}

.footer .footer-item .footer-logo {
	margin-bottom: 10px;
}

.footer .footer-item .footer-title {
	font-size: 1.45em;
	font-weight: 700;
	color: var(--bs-white);
	margin-bottom: 15px;
	padding-top: 5px;
}

.footer .footer-item .footer-text {
	font-size: 1.15em;
}

.footer .footer-item .footer-list {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.footer .footer-item .footer-list .footer-list_item {
	display: inline-flex;
	align-items: center;
	vertical-align: middle;
	color: #9b9b9c;
	font-size: 1.15em;
}

.footer .footer-item .footer-list .footer-list_item:hover {
	color: var(--primary-color);
}

.footer .footer-item .footer-subscribe .form-control {
	border: 1px solid rgb(45, 45, 48);
	background-color: rgb(45, 45, 48);
	color: var(--bs-white);
	font-size: 1em;
	border-radius: 12px;
	font-weight: 400;
	height: 44px;
}

.footer .footer-item .footer-subscribe {
	margin-top: 20px;
}

.footer .footer-item .footer-subscribe .button-theme {
	height: 40px;
	padding-left: 30px;
	padding-right: 30px;
	width: 100%;
	margin-top: 10px;
	font-size: 1em;
}

.footer .footer-item .footer-social {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 5px;
	margin-top: 20px;
}

.footer .footer-item .footer-social .social-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: var(--color-text);
	transition: var(--transition-default);
	position: relative;
	overflow: hidden;
}

.footer .footer-item .footer-social .social-item .social-item_image {
	width: 32px;
	height: 32px;
	transition: var(--transition-default);
	position: relative;
	border-radius: 50%;
	overflow: hidden;
}

.footer .footer-item .footer-social .social-item .social-item_image:before {
	position: absolute;
	inset: 0;
	border-radius: 50%;
	content: "";
	display: block;
	background: #343434;
	opacity: 0.1;
}

.footer .footer-item .footer-social .social-item .social-item_image img {
	width: 100%;
}

.footer .footer-item .footer-social .social-item:hover .social-item_image {
	filter: brightness(200%);
}

.footer .footer-item .footer-language {
	margin-top: 20px;
}

.footer .footer-item .footer-language_button {
	color: var(--color-text);
	font-size: 1.15em;
	gap: 5px;
	transition: var(--transition-default);
	font-weight: 400;
}

.footer .footer-item .footer-language_button > img {
	height: 12px;
	width: 12px;
}

.footer .footer-item:hover .footer-language_button {
	background: var(--color-hover);
	color: var(--bs-white);
}

.footer .footer-item .footer-language_list {
	background: #1B1B1E;
	border-radius: 20px;
	padding: 10px;
	left: 0;
	list-style: none;
	margin-bottom: 0;
	min-width: 220px;
	top: calc(100% + 10px);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.footer .footer-item .footer-language_list:before {
	height: 10px;
	width: 100%;
	background: transparent;
	content: "";
	position: absolute;
	top: -10px;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	z-index: 2;
}

.footer .footer-item:hover .footer-language_list,
.footer .footer-item:hover .footer-language_list:before {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.footer .footer-item .footer-language_list > li > a {
	border-radius: 12px;
	color: var(--color-text);
	font-size: 1.15em;
	border: 0;
	outline: none;
	box-shadow: none;
	display: flex;
	gap: 5px;
	transition: var(--transition-default);
	font-weight: 400;
	padding: 10px 16px;
	white-space: nowrap;
}

.footer .footer-item .footer-language_list > li > a > span {
	display: flex;
	align-items: center;
}

.footer .footer-item .footer-language_list > li > a.active > span:after {
	display: block;
	content: "";
	background: url('../images/icons/check.svg') center center/contain no-repeat;
	height: 14px;
	width: 14px;
	margin-left: 12px;
}

.footer .footer-item .footer-language_list > li:hover > a {
	background: rgba(var(--bs-white-rgb), 0.06);
	color: var(--bs-white);
}

.footer .footer-item + .footer-item {
	margin-top: 30px;
}

.footer .footer-bottom {
	padding-top: 45px;
	margin-top: 45px;
	border-top: 1px solid #2c2c2c;
}

.footer .footer-bottom .footer-copyright {
	font-size: 1.15em;
}

.footer .footer-bottom .footer-term {
	font-size: 13px;
	color: #606060;
	margin-top: 30px;
}

.header .header-hamburger,
.header .header-language.header-language_mobile,
.header .header-topbar,
.header .header-based,
.app-sticky {
	display: none;
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
	.header {
		height: 75px;
	}

	.header .header-inner {
		gap: 20px;
	}

	.header .header-navigation > ul > li > a,
	.header .header-language .header-language_button {
		font-size: 1.075em;
		padding: 10px 18px;
	}

	.header .header-app .button-theme {
		font-size: 1.075em;
		padding: 10px 18px;
	}
}

@media screen and (max-width: 1199px) {
	.header .header-hamburger {
		display: block;
	}

	.header .header-hamburger .hamburger-button {
		position: relative;
		width: 20px;
		height: 16px;
		-webkit-transform: translateY(-1px);
		-ms-transform: translateY(-1px);
		transform: translateY(-1px);
		display: block;
	}

	.header .header-hamburger .hamburger-button > i {
		background-color: var(--bs-white);
		width: 100%;
		height: 2px;
		position: absolute;
		display: block;
		-webkit-transition: var(--transition-default, 0.3s all ease-in-out);
		-o-transition: var(--transition-default, 0.3s all ease-in-out);
		transition: var(--transition-default, 0.3s all ease-in-out);
		left: 0;
	}

	.header .header-hamburger .hamburger-button > i:nth-child(1) {
		top: 0;
	}

	.header .header-hamburger .hamburger-button > i:nth-child(2) {
		top: 7px;
	}

	.header .header-hamburger .hamburger-button > i:nth-child(3) {
		bottom: 0;
		width: 15px;
		left: auto;
		right: 0;
	}

	.is-navigation .header .header-hamburger .hamburger-button > i:nth-child(1) {
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		top: 7px;
	}

	.is-navigation .header .header-hamburger .hamburger-button > i:nth-child(2) {
		left: 50%;
		width: 0;
	}

	.is-navigation .header .header-hamburger .hamburger-button > i:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
		bottom: 7px;
		width: 100%;
	}

	.header .header-overlay {
		background: rgba(0, 0, 0, .85);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 9;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		-webkit-transition: var(--transition-default, 0.3s all ease-in-out);
		-o-transition: var(--transition-default, 0.3s all ease-in-out);
		transition: var(--transition-default, 0.3s all ease-in-out);
		height: 100vh;
	}

	.is-navigation {
		height: 100vh;
		overflow: hidden;
	}

	.is-navigation .header .header-overlay {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

	.header .header-wrapper {
		position: fixed;
		height: 100vh;
		top: 0;
		right: -400px;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all .3s ease-in-out;
		z-index: 10;
		background: #070707;
		width: 100%;
		max-width: 425px;
		gap: 0;
	}

	.is-navigation .header .header-wrapper {
		right: 0;
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

	.header .header-wrapper .header-navigation {
		width: 100%;
	}

	.header .header-wrapper .header-navigation > ul {
		display: flex;
		flex-direction: column;
	}

	.header .header-navigation > ul > li {
		width: 100%;
	}

	.header .header-navigation > ul > li > a,
	.header .header-navigation > ul > li > button {
		border-radius: 0;
		justify-content: flex-start;
		color: var(--bs-white);
		font-size: 1.3em;
		font-weight: 600;
		width: 100%;
		background: transparent !important;
	}

	.header .header-navigation > ul > li > a > span,
	.header .header-navigation > ul > li > button > span {
		display: block;
		margin-left: auto;
	}

	.header .header-navigation > ul > li > a > span > img,
	.header .header-navigation > ul > li > button > span > img {
		width: 20px;
		height: 20px;
		transition: var(--transition-default);
	}

	.header .header-navigation > ul > li > a[aria-expanded=true] > span > img,
	.header .header-navigation > ul > li > button[aria-expanded=true] > span > img {
		transform: rotate(180deg);
	}

	.header .header-navigation > ul > li > ul {
		position: static !important;
		transform: translate(0);
		left: 0;
		top: 0;
		width: 100%;
		opacity: 1 !important;
		visibility: visible !important;
		pointer-events: auto !important;
		border-radius: 0;
	}

	.header .header-toolbar {
		border-top: 1px solid #2c2c2c;
		padding-top: 15px;
		margin-top: 15px;
		flex-direction: column;
	}

	.header .header-language {
		width: 100%;
	}

	.header .header-language.header-language_desktop {
		display: none;
	}

	.header .header-language.header-language_mobile {
		display: block;
	}

	.header .header-language .header-language_button {
		width: 100%;
		color: var(--bs-white);
		font-size: 1.3em;
		font-weight: 600;
		background: transparent !important;
		border-radius: 0 !important;
	}

	.header .header-language .header-language_button > img {
		width: 20px;
		height: 20px;
		margin-left: auto;
		transition: var(--transition-default);
	}

	.header .header-language .header-language_button[aria-expanded=true] > img {
		transform: rotate(180deg);
	}

	.header .header-language .header-language_list {
		position: static !important;
		transform: translate(0);
		left: 0;
		top: 0;
		width: 100%;
		opacity: 1 !important;
		visibility: visible !important;
		pointer-events: auto !important;
		border-radius: 0;
	}

	.header .header-language .header-language_list:before {
		display: none;
	}

	.header .header-based {
		display: block;
		width: 100%;
		padding-left: 22px;
		padding-right: 22px;
	}

	.header .header-app {
		display: none;
	}

	.header .header-topbar {
		display: flex;
		align-items: center;
		width: 100%;
		padding: 15px 22px;
		margin-bottom: 10px;
	}

	.header .header-topbar .header-app {
		display: block;
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		margin-left: auto;
	}

	.header .header-topbar .header-app .button-theme {
		font-size: 1.075em;
		padding: 7px 18px;
	}

	.header .header-topbar .header-hamburger {
		margin-left: 15px;
	}

	.app-sticky {
		position: fixed;
		left: 10px;
		right: 10px;
		bottom: 10px;
		z-index: 9;
		display: block;
	}

	.footer {
		padding-bottom: 70px;
	}
}

@media screen and (max-width: 991px) {
	.gradient-right,
	.gradient-left {
		display: none;
	}

	.section-hero .container {
		padding-left: 0;
		padding-right: 0;
	}

	.section-hero .hero-video {
		height: 100vh;
	}

	.section-hero .hero-video_overlay__left,
	.section-hero .hero-video_overlay__right {
		display: none;
	}

	.section-hero .hero-video .hero-video_content {
		padding-top: 0;
	}

	.section-hero .hero-video .hero-video_content .hero-video_title {
		font-size: 4em;
	}

	.section-gap {
		padding-top: 80px;
	}

	.section-heading .heading-title {
		font-size: 1.6em;
	}

	.section-heading .heading-desc {
		font-size: 1.15em;
	}

	.slider-button {
		width: 40px;
		height: 40px;
	}

	.slider-button svg {
		width: 17px;
	}

	.wallet-list {
		flex-wrap: wrap;
		padding: 0 30px;
	}

	.wallet-list .wallet-item {
		width: calc(100% / 3);
		padding: 15px;
	}

	.section-box .box-inner {
		padding: 24px;
	}

	.futures-card {
		padding: 41px 45px;
	}

	.futures-card .futures-card_number {
		width: 44px;
		height: 44px;
		font-size: 1.3em;
	}

	.futures-card .futures-card_title {
		font-size: 1.6em;
	}

	.benefits-card .benefits-card_content .benefits-card_title {
		font-size: 1.6em;
	}

	.explore-card {
		padding: 15px 45px;
	}

	.explore-card .explore-card_image {
		height: 65px;
		width: 65px;
	}

	.explore-card .explore-card_title {
		font-size: 1.6em;
	}

	.dev-item .dev-item_title {
		font-size: 1.3em;
	}

	.footer .footer-item .footer-title {
		font-size: 1.3em;
	}
}

@media screen and (max-width: 767px) {
	.section-hero .hero-video .hero-video_content {
		padding-left: 30px;
		padding-right: 30px;
	}

	.section-hero .hero-video .hero-video_content .hero-video_title {
		font-size: 3em;
	}

	.section-hero .hero-video .hero-video_content .hero-video_title span {
		display: inline;
	}

	.slider-button {
		width: 24px;
		height: 24px;
	}

	.slider-button.sliderNext {
		right: 0;
	}

	.slider-button.sliderPrev {
		left: 0;
	}

	.slider-button svg {
		width: 10px;
	}

	.futures-card {
		padding: 79px 45px;
	}

	.explore-card {
		padding: 38px 45px;
	}
}

@media screen and (max-width: 575px) {
	.section-hero .hero-video .hero-video_content {
		padding-left: 30px;
		padding-right: 30px;
	}

	.section-hero .hero-video .hero-video_content .hero-video_title {
		font-size: 2.3em;
	}

	.section-hero .hero-video .hero-video_content .hero-video_buttons {
		flex-direction: column;
		align-items: center;
	}

	.section-hero .hero-video .hero-video_content .hero-video_buttons .button-theme_primary {
		padding: 12px 50px;
	}

	.section-hero .hero-video .hero-video_content .hero-video_buttons .button-theme_secondary {
		padding: 12px 38px;
	}

	.wallet-list .wallet-item {
		width: calc(100% / 2);
	}

	.subscribe-social .social-list {
		flex-wrap: wrap;
		gap: 10px;
	}

	.subscribe-social .social-list .social-item {
		width: calc(20% - 10px);
	}
}